@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.webgl {
  outline: none;
  width: 95vw;
  height: 95vh;
  margin: 1rem;
}
.action-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.title {
  font-size: 1rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.9);
  padding-right: 2rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
